<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 을 java 에서 쓰기 위해 연결되는 interface 가 필요 하다. -->
<mapper namespace="com.ino.main.dao.HomeDAO">

	<select id="normalTopList" resultType="com.ino.main.dto.HomeDTO">
		SELECT  user_id,count(user_id) as 글갯수, hit  , sales_sido, sigungu, p.new_photo_name
 		 FROM sales
 		 LEFT JOIN photo p on user_id = p.photo_div
	  		GROUP BY user_id ORDER BY 글갯수 desc limit 5 ;
	</select>
	
	


	<insert id="userRegist" parameterType="hashmap">
		INSERT INTO user(
			user_id,user_pw,user_name,nickname,post_num,
			left_addr,phone_num,email,user_state,interest_biz_id
		)VALUES(
			#{user_id},#{user_pw},#{user_name},#{nickname},#{post_num},#{left_addr}
			,#{phone_num},#{email},#{user_state},#{interest_biz_id}
		)
	</insert>
	
	<insert id="bizregist" >
		INSERT INTO auth_extra(
			user_id,biz_num,biz,store_name,state
			
		)VALUES(
			#{param1},#{param2},#{param3},#{param4},#{param5}
		)
	</insert>
	
	<insert id="join" parameterType="hashmap">
		INSERT INTO user(
			user_id,user_pw,user_name,nickname,post_num,
			left_addr,phone_num,email,user_state,interest_biz_id
		)VALUES(
			#{user_id},#{user_pw},#{user_name},#{nickname},#{post_num},#{left_addr}
			,#{phone_num},#{email},#{user_state},#{interest_biz_id}
		)
	</insert>
	
	
	
	<select id="afterList" 
	resultType="com.ino.main.dto.HomeDTO">
		SELECT new_photo_name FROM photo WHERE photo_div = (select user_id from user where user_id = #{param1});
	</select>
	

	
	
	
	
	
</mapper>