<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.ino.sales.dao.SalesDAO">
		
	<select id="getUserSido" parameterType="String" resultType="String">
		SELECT u.sido FROM user u WHERE u.user_id = #{loginId}
	</select>
	
	<select id="getUserSigungu" parameterType="String" resultType="String">
			SELECT u.sigungu FROM user u WHERE u.user_id = #{loginId}
	</select>
	
	<select id="salesList" resultType="com.ino.sales.dto.SalesDTO">
		SELECT s.sales_no, s.sales_state, s.subject, s.price, s.sales_sido, s.sigungu, s.hit, s.user_id, u.nickname, s.date, p.new_photo_name, s.biz_id, b.biz_name, s.goods_id, g.goods_name
			FROM sales s 
			LEFT JOIN user u ON s.user_id = u.user_id
			LEFT JOIN photo p ON p.photo_div = s.sales_no
			LEFT JOIN biz b ON s.biz_id = b.biz_id 
			LEFT JOIN goods g ON s.goods_id = g.goods_id 
			WHERE p.cate_no = 'p005' AND s.blind = '0'
		<if test='param1 != null  and !param1.equals("default")'>
			AND s.sales_sido = #{param1}
		</if>	
		<if test='param2 != null  and !param2.equals("default")'>
			AND s.sigungu = #{param2}
		</if>	
		GROUP BY s.sales_no ORDER BY s.sales_no DESC
	</select>
	
		<select id="filteringByHit" parameterType="String" resultType="com.ino.sales.dto.SalesDTO">
		SELECT s.sales_no, s.sales_state, s.subject, s.price, s.sales_sido, s.sigungu, s.hit, s.user_id, u.nickname, s.date, p.new_photo_name, s.biz_id, b.biz_name, s.goods_id, g.goods_name
			FROM sales s 
			LEFT JOIN sales s2 ON s2.blind = '0'
			LEFT JOIN user u ON s.user_id = u.user_id
			LEFT JOIN photo p ON p.photo_div = s.sales_no AND p.cate_no = 'p005'
			LEFT JOIN biz b ON s.biz_id = b.biz_id 
			LEFT JOIN goods g ON s.goods_id = g.goods_id 
		GROUP BY s.sales_no ORDER BY s.hit DESC
	</select>
	
	<select id="filteringBySales_no" parameterType="String" resultType="com.ino.sales.dto.SalesDTO">
		SELECT s.sales_no, s.sales_state, s.subject, s.price, s.sales_sido, s.sigungu, s.hit, s.user_id, u.nickname, s.date, p.new_photo_name, s.biz_id, b.biz_name, s.goods_id, g.goods_name
			FROM sales s 
			LEFT JOIN sales s2 ON s2.blind = '0'
			LEFT JOIN user u ON s.user_id = u.user_id
			LEFT JOIN photo p ON p.photo_div = s.sales_no AND p.cate_no = 'p005'
			LEFT JOIN biz b ON s.biz_id = b.biz_id 
			LEFT JOIN goods g ON s.goods_id = g.goods_id 
		GROUP BY s.sales_no ORDER BY s.sales_no DESC
	</select>
		
	<select id="getBizList" resultType="com.ino.sales.dto.BizDTO">
		SELECT * FROM biz
	</select>
	
	<select id="goodsCall" parameterType="String" resultType="com.ino.sales.dto.goodsDTO">
		SELECT * FROM goods WHERE biz_id = #{biz_id}
	</select>
	
	<insert 
		useGeneratedKeys="true"
		keyColumn="sales_no"
		keyProperty="sales_no"
		id="salesWrite" parameterType="com.ino.sales.dto.SalesDTO"
	>
		INSERT INTO sales(user_id, subject, price, post_num, sales_sido, sigungu, left_addr, content, sales_state, blind, biz_id, goods_id)
			VALUES(#{user_id}, #{subject}, #{price}, #{post_num}, #{sales_sido}, #{sigungu}, #{left_addr}, #{content}, #{sales_state}, #{blind}, #{biz_id}, #{goods_id})
	</insert>
	
	<insert id="fileWrite">
		INSERT INTO photo(ori_photo_name, new_photo_name, photo_div, cate_no)
			VALUES(#{param1}, #{param2}, #{param3}, #{param4})
	</insert>
	
	<update id="upHit" parameterType="Integer">
		UPDATE sales SET hit = hit + 1 WHERE sales_no = #{sales_no}
	</update>

	<select id="salesDetail" parameterType="Integer" resultType="com.ino.sales.dto.SalesDTO">
		select s.*, b.biz_name, g.goods_name, u.nickname from sales s 
			inner join biz b on b.biz_id = s.biz_id 
			inner join goods g on g.goods_id = s.goods_id 
		inner join `user` u on u.user_id = s.user_id and s.sales_no = #{sales_no}
	</select>

	<select id="salesDetailPhoto" parameterType="Integer" resultType="String">
		SELECT p.new_photo_name FROM photo p 
			INNER JOIN sales s ON s.sales_no = p.photo_div 
		AND p.cate_no = 'p005' AND s.sales_no = #{sales_no}
	</select>

</mapper>